/* ESTILOS INDEX */
#main {
    .pie-img {
        /* txt de bienvenida */
        p {
            margin: 30px 50px 30px 50px;
            a {
                text-decoration: underline;
            }
        }
    }
    .main-muestra {
        /* img de mustra */
        img {
            width: 200px;
            margin: 10px;
            margin-bottom: 10px;
        }
    }
}
