/* ESTILOS MENU */

#main {
    .main__links {
        /* Grids */
        display: grid;
        width: 100%;
        justify-content: center;
        font-weight: bold;
        font-size: 18px; 
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "section--tortas section--cookis . section--chocolates section--paquetes";

        .section--tortas {
        grid-area: section--tortas;
        }

        .section--cookis {
        grid-area: section--cookis;
        }

        .section--chocolates {
        grid-area: section--chocolates;
        }

        .section--paquetes {
        grid-area: section--paquetes;
        }
    }
}

/* CONTENIDO MENU */

.main__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 0;

    &--producto {
        display: flex;
        align-items: flex-start;
        border: 2px solid #503c2f;
        border-radius: 10px;
        padding: 20px;
        width: 75%;

    &--picture {
        width: 100%;
        max-width: 300px;
        height: auto;
        display: flex;
        align-items: flex-end;
        padding: 20px;

            img {
            width: 100%;
                min-width: 160px;
                height: auto;
                display: block;
                transition: transform 0.75s ease;
                &:hover {
                    transform: scale(1.25);
                }
            }
        }
    }

    &--text-content {
        display: block;
        text-align: start;
        padding: 20px;

        h4 {
            text-decoration: underline overline;
            padding-bottom: 20px;
        }

        p {
            color: #333;
            text-align: start;
        }
    }
}