/* ESTILOS MAIN */
#main {
    min-height: 100vh;
    text-align: center;
    color: #503c2f;
    
    .main-banner {
        img {
            margin-top: 10px;
            background-size: cover;
        }
    }
}
